body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa geral */
.container {
    text-align: center;
}

/* Título */
h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Formulário */
form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 320px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    text-align: left;
}

/* Labels */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Botão */
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;

    background: #007bff;
    border: none;
    color: white;

    border-radius: 6px;
    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background: #0056b3;
}